{
    "extends": [
        "standard-preact",
        "eslint-config-2123"
    ],
    "parser": "babel-eslint",
    "rules": {
        "react/jsx-indent": [4, 4],
        "react/jsx-indent-props": [4, 4]
    }
}
