@import '~common/styles/color-palette.styl'

.grid-error
    background error-background
    color error-text-color
    border 1px solid error-border
    padding 1em
    text-align center
    border-radius .3em
